<div class="row">
    <div class="col-sm justify-content-md-start border  border-dark rounded p-3">
        <div class="container col-sm mt-3 text-center ">
            {{ form_start(form) }}
            <div class="col-sm mb-3 ">
                <label for="">Nom de la catégoerie</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm">
                <button type="submit" class="btn button-style">Mettre à jour</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<div class="mx-auto my-5 text-center">
    <a href="{{ path("category_index") }}"><button class="btn button-style col-3"> Retour sur la page d'accueil </button></a>
</div>
