{% extends 'base_admin.html.twig' %}

{% block title %}Panneau Administration{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-5 justify-content-center">
            <h1>DASHBOARD</h1>
        </div>
        <div class="row justify-content-center">
            <a href="{{ path("home") }}"><button class="btn button-style"> Retour sur la page d'accueil </button></a>
        </div>
    </div>
{% endblock %}
