{% extends 'base_admin.html.twig' %}

{% block title %}Panneau Administration{% endblock %}

{% block content %}
    <div class="container-fluid dash-board" style="height: 51rem">

    </div>
{% endblock %}
