{% extends 'base.html.twig' %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block title %}Catalogue planches{% endblock %}

{% block body %}
    <div class="container-fluid catalogue">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="container-fluid list-catalogue">
                    <div class="grid row d-flex justify-content-center">
                        {% for board in boards %}
                            <a href="{{ path("board_show", {id: board.id}) }}" class="card col-md-4 col-lg-3 col-12">
                                <div class="card-block">
                                    {% for picture in board.pictures %}
                                        {% if loop.index == 1 %}
                                            <img class="card-img-top" src="{{ picture.url }}" alt="Card image cap">
                                        {% endif %}
                                    {% endfor %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ board.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto my-5 text-center">
            <a href="{{ path("home") }}"><button class="btn button-style col-3"> Retour sur la page d'accueil </button></a>
        </div>
    </div>


{% endblock %}
